.projectPage {
  padding: 40px 16px;
  color: #333;
}

.projectTitle {
  font-size: 12vw;
  text-transform: none;
  font-weight: 600;
  line-height: 1;
}

.tagContainer {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.tag {
  border: solid 1px #333;
  border-radius: 50px;
  width: fit-content;
  padding: 0 8px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.listItem {
  display: flex;
  flex-direction: column;
}

.listTitle {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 6px;
}

.listContent {
  line-height: 1.5;
}

.registerInfo {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  span {
    font-weight: 500;
    margin-right: 6px;
  }
}

.demoSite {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.demoSiteText {
  font-weight: 600;
  line-height: 1.3;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;

  svg {
    font-size: 18px;
    margin-left: 6px;
    transform: scale(1, 1);
    transition: transform .3s ease-out;
  }

  &:hover svg {
    transform: translate(3px, -3px);
  }
}

.imageContainer {
  margin-top: 48px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));

  img {
    width: 100%;
  }

  .image:nth-child(-n+3){
    grid-column: 1 / 3;
  }
}

.backHome {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  margin-top: 64px;

  svg {
    width: 16px;
  }

  p {
    margin-left: 8px;
  }
}

@media screen and (min-width:821px) {
  .projectPage {
    padding: 72px 80px 48px 80px;
  }

  .projectTitle {
    font-size: 8vw;
  }

  .imageContainer {
    margin-top: 80px;
  }

  .backHome {
    margin-top: 72px;
  }
}

@media screen and (min-width:1024px) {
  .projectPage {
    padding: 96px 80px 72px 80px;
  }

  .projectContainer {
    display: flex;
  }

  .projectInfo {
    position: sticky;
    width: 40%;
    height: 100%;
    top: 100px;
  }

  .projectTitle {
    font-size: 5vw;
  }

  .listTitle {
    margin-bottom: 8px;
  }

  .listContent {
    font-size: 18px;
  }

  .imageContainer {
    width: 50%;
    margin-left: auto;
    margin-top: 0;
  }

  .backHome {
    justify-content: flex-start;
    margin-top: 128px;
  }
}