:root {
  --font-general: 'General Sans', sans-serif;
  --font-black: #000000;
  --font-red: #CE3C3C;
}

html {
  font-size: 62.5%;
  font-family: var(--font-general);
  color: var(--font-black);
}

a {
  text-decoration: none;
  color: var(--font-black);
}

ul {
  list-style: none;
}